<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="upgrade-insecure-requests" />
      </customHeaders>
    </httpProtocol>

    <handlers>
      <add name="PHP_v8.3"
           path="*.php"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\php83\php-cgi.exe"
           resourceType="Either"
           requireAccess="Script" />
    </handlers>

    <rewrite>
      <rules>
        <rule name="Fabricamos public root redirect" stopProcessing="true">
          <match url="^$" />
          <action type="Redirect" url="https://fabricamos.abiquifi.questione.ai/catalogo/" appendQueryString="true" redirectType="Found" />
        </rule>

        <rule name="Fabricamos legacy catalog redirect" stopProcessing="true">
          <match url="^fabricamos/?$" />
          <action type="Redirect" url="https://fabricamos.abiquifi.questione.ai/catalogo/" appendQueryString="true" redirectType="Found" />
        </rule>

        <!-- Block include-only files -->
        <rule name="Block wp-admin includes" stopProcessing="true">
          <match url="^wp-admin/includes/" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>
        <rule name="Block wp-includes php files" stopProcessing="true">
          <match url="^wp-includes/[^/]+\.php$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>
        <rule name="Block tinymce langs php" stopProcessing="true">
          <match url="^wp-includes/js/tinymce/langs/.+\.php$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>
        <rule name="Block theme-compat" stopProcessing="true">
          <match url="^wp-includes/theme-compat/" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>

        <!-- Block wp-config.php -->
        <rule name="Block wp-config" stopProcessing="true">
          <match url="^wp-config\.php$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>

        <!-- WordPress permalinks -->
        <rule name="WordPress permalinks" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.php" />
        </rule>
      </rules>
      <outboundRules>
        <preConditions>
          <preCondition name="IsHtmlOrCssAndHttps">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/(html|css)" />
            <add input="{HTTPS}" pattern="on" />
          </preCondition>
          <preCondition name="IsHtmlOrCssAndForwardedHttps">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/(html|css)" />
            <add input="{HTTP_X_FORWARDED_PROTO}" pattern="https" />
          </preCondition>
          <preCondition name="IsHtmlOrCssAndHttp">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/(html|css)" />
            <add input="{HTTP_X_FORWARDED_PROTO}" pattern="^$" />
          </preCondition>
          <preCondition name="IsRedirectAndHttps">
            <add input="{RESPONSE_STATUS}" pattern="3\\d\\d" />
            <add input="{HTTPS}" pattern="on" />
          </preCondition>
          <preCondition name="IsRedirectAndForwardedHttps">
            <add input="{RESPONSE_STATUS}" pattern="3\\d\\d" />
            <add input="{HTTP_X_FORWARDED_PROTO}" pattern="https" />
          </preCondition>
          <preCondition name="IsRedirectAndHttp">
            <add input="{RESPONSE_STATUS}" pattern="3\\d\\d" />
            <add input="{HTTP_X_FORWARDED_PROTO}" pattern="^$" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>

    <staticContent>
      <mimeMap fileExtension=".avif" mimeType="image/avif" />
      <mimeMap fileExtension=".avifs" mimeType="image/avif-sequence" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="wp-config.php" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  </system.webServer>
</configuration>
