<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <add name="Content-Security-Policy" value="upgrade-insecure-requests" />
      </customHeaders>
    </httpProtocol>

    <handlers>
      <add name="PHP_v8.3"
           path="*.php"
           verb="*"
           modules="FastCgiModule"
           scriptProcessor="C:\php83\php-cgi.exe"
           resourceType="Either"
           requireAccess="Script" />
    </handlers>

    <rewrite>
      <rules>

        <!-- GTranslate: /lang/lang/... -> /lang/... -->
        <rule name="GTranslate double lang redirect" stopProcessing="true">
          <match url="^(af|sq|am|ar|hy|az|eu|be|bn|bs|bg|ca|ceb|ny|zh-CN|zh-TW|co|hr|cs|da|nl|en|eo|et|tl|fi|fr|fy|gl|ka|de|el|gu|ht|ha|haw|iw|hi|hmn|hu|is|ig|id|ga|it|ja|jw|kn|kk|km|ko|ku|ky|lo|la|lv|lt|lb|mk|mg|ms|ml|mt|mi|mr|mn|my|ne|no|ps|fa|pl|pt|pa|ro|ru|sm|gd|sr|st|sn|sd|si|sk|sl|so|es|su|sw|sv|tg|ta|te|th|tr|uk|ur|uz|vi|cy|xh|yi|yo|zu)/(af|sq|am|ar|hy|az|eu|be|bn|bs|bg|ca|ceb|ny|zh-CN|zh-TW|co|hr|cs|da|nl|en|eo|et|tl|fi|fr|fy|gl|ka|de|el|gu|ht|ha|haw|iw|hi|hmn|hu|is|ig|id|ga|it|ja|jw|kn|kk|km|ko|ku|ky|lo|la|lv|lt|lb|mk|mg|ms|ml|mt|mi|mr|mn|my|ne|no|ps|fa|pl|pt|pa|ro|ru|sm|gd|sr|st|sn|sd|si|sk|sl|so|es|su|sw|sv|tg|ta|te|th|tr|uk|ur|uz|vi|cy|xh|yi|yo|zu)/(.*)$" />
          <action type="Redirect" url="/{R:1}/{R:3}" redirectType="Permanent" />
        </rule>

        <!-- GTranslate: /lang/... -> internal handler -->
        <rule name="GTranslate handler" stopProcessing="true">
          <match url="^(af|sq|am|ar|hy|az|eu|be|bn|bs|bg|ca|ceb|ny|zh-CN|zh-TW|co|hr|cs|da|nl|en|eo|et|tl|fi|fr|fy|gl|ka|de|el|gu|ht|ha|haw|iw|hi|hmn|hu|is|ig|id|ga|it|ja|jw|kn|kk|km|ko|ku|ky|lo|la|lv|lt|lb|mk|mg|ms|ml|mt|mi|mr|mn|my|ne|no|ps|fa|pl|pt|pa|ro|ru|sm|gd|sr|st|sn|sd|si|sk|sl|so|es|su|sw|sv|tg|ta|te|th|tr|uk|ur|uz|vi|cy|xh|yi|yo|zu)/(.*)$" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
          </conditions>
          <action type="Rewrite" url="/wp-content/plugins/gtranslate/url_addon/gtranslate.php?glang={R:1}&amp;gurl={R:2}" />
        </rule>

        <!-- GTranslate: /lang -> /lang/ -->
        <rule name="GTranslate add trailing slash" stopProcessing="true">
          <match url="^(af|sq|am|ar|hy|az|eu|be|bn|bs|bg|ca|ceb|ny|zh-CN|zh-TW|co|hr|cs|da|nl|en|eo|et|tl|fi|fr|fy|gl|ka|de|el|gu|ht|ha|haw|iw|hi|hmn|hu|is|ig|id|ga|it|ja|jw|kn|kk|km|ko|ku|ky|lo|la|lv|lt|lb|mk|mg|ms|ml|mt|mi|mr|mn|my|ne|no|ps|fa|pl|pt|pa|ro|ru|sm|gd|sr|st|sn|sd|si|sk|sl|so|es|su|sw|sv|tg|ta|te|th|tr|uk|ur|uz|vi|cy|xh|yi|yo|zu)$" />
          <action type="Redirect" url="/{R:1}/" redirectType="Permanent" />
        </rule>

        <!-- Block include-only files -->
        <rule name="Block wp-admin includes" stopProcessing="true">
          <match url="^wp-admin/includes/" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>
        <rule name="Block wp-includes php files" stopProcessing="true">
          <match url="^wp-includes/[^/]+\.php$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>
        <rule name="Block tinymce langs php" stopProcessing="true">
          <match url="^wp-includes/js/tinymce/langs/.+\.php$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>
        <rule name="Block theme-compat" stopProcessing="true">
          <match url="^wp-includes/theme-compat/" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>

        <!-- Block wp-config.php -->
        <rule name="Block wp-config" stopProcessing="true">
          <match url="^wp-config\.php$" />
          <action type="CustomResponse" statusCode="403" statusReason="Forbidden" statusDescription="Forbidden" />
        </rule>

        <!-- WordPress permalinks -->
        <rule name="WordPress permalinks" stopProcessing="true">
          <match url=".*" />
          <conditions>
            <add input="{REQUEST_FILENAME}" matchType="IsFile" negate="true" />
            <add input="{REQUEST_FILENAME}" matchType="IsDirectory" negate="true" />
          </conditions>
          <action type="Rewrite" url="/index.php" />
        </rule>
      </rules>
      <outboundRules>
        <preConditions>
          <preCondition name="IsHtmlOrCssAndHttps">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/(html|css)" />
            <add input="{HTTPS}" pattern="on" />
          </preCondition>
          <preCondition name="IsHtmlOrCssAndForwardedHttps">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/(html|css)" />
            <add input="{HTTP_X_FORWARDED_PROTO}" pattern="https" />
          </preCondition>
          <preCondition name="IsHtmlOrCssAndHttp">
            <add input="{RESPONSE_CONTENT_TYPE}" pattern="^text/(html|css)" />
            <add input="{HTTP_X_FORWARDED_PROTO}" pattern="^$" />
          </preCondition>
          <preCondition name="IsRedirectAndHttps">
            <add input="{RESPONSE_STATUS}" pattern="3\\d\\d" />
            <add input="{HTTPS}" pattern="on" />
          </preCondition>
          <preCondition name="IsRedirectAndForwardedHttps">
            <add input="{RESPONSE_STATUS}" pattern="3\\d\\d" />
            <add input="{HTTP_X_FORWARDED_PROTO}" pattern="https" />
          </preCondition>
          <preCondition name="IsRedirectAndHttp">
            <add input="{RESPONSE_STATUS}" pattern="3\\d\\d" />
            <add input="{HTTP_X_FORWARDED_PROTO}" pattern="^$" />
          </preCondition>
        </preConditions>
      </outboundRules>
    </rewrite>

    <staticContent>
      <mimeMap fileExtension=".avif" mimeType="image/avif" />
      <mimeMap fileExtension=".avifs" mimeType="image/avif-sequence" />
      <mimeMap fileExtension=".webp" mimeType="image/webp" />
    </staticContent>

    <security>
      <requestFiltering>
        <hiddenSegments>
          <add segment="wp-config.php" />
        </hiddenSegments>
      </requestFiltering>
    </security>

    <urlCompression doStaticCompression="true" doDynamicCompression="true" />
  </system.webServer>
</configuration>
